.masthead {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	.bg-col-blk;
	.pad(0;3;0;3);
	.h(8);
	
	a#logo {
	.caps;
	display: block;
	.w(25);
	font-family: @lite-font;
	.font-size(4);
	.line-h(8);
	.col(@wht);
	.no-text-dec;	
	font-weight: 200;
	letter-spacing: -2px;
		span {
			color: @gray-dk;
			transition: color 0.3s;
			}
			&.web-active {
				span {
				color: darken(GreenYellow, 20%);	
				}
				&:after {
				content: "Web";
				color: GreenYellow;	
				}	
			}
			&.illustration-active {
				span {
				color: darken(MediumOrchid, 20%);	
				}
				&:after {
				content: "Illustrations";
				color: MediumOrchid;	
				}	
			}
			&.graphics-active {
				span {
				color: darken(DarkTurquoise, 20%);	
				}
				&:after {
				content: "Graphics";
				color: DarkTurquoise;
				}	
			}
			&.magazines-active {
				span {
				color: darken(DarkOrange, 20%);	
				}
				&:after {
				content: "Magazines";
				color: DarkOrange;	
				}	
			}
			&.videos-active {
				span {
				color: darken(Gold, 20%);	
				}
				&:after {
				content: "Animations";
				color: Gold;	
				}	
			}
	}
	
	button#strip-nav-btn {
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	.w(4);
	.h(4);
	.pad-all(0);
	.no-rounded;
	.no-border;
	.bg-col(@trans);
		.btn-bar {
		display: block;
		width: 100%;
		.h(0.1);
		.bg-col(@wht);
		margin: 10px 0px;
		transform: rotate(0deg);
		transform-origin: center;
		transition: transform 0.3s;
		}
		
		&:hover, &:active, &:focus {
			.btn-bar {
			.bg-col(@grey);
			}
		}
		
		&.nav-open {
			.btn-bar {
			transform: rotate(45deg);
			transform-origin: center;
			margin: 0px;
				&:first-child {
				display: none;	
				}
				&:last-child {
				transform: rotate(-45deg);
				}
			}		
		}
	}
}