.masthead {
	.bg-col-blk;
	.pad-left(3);
	display: flex;
	grid-template-columns: 230px auto 80px;
	
	a#logo {
	flex: 0 0 230px;
	.caps;
	display: block;
	font-family: @lite-font;
	.font-size(4);
	.line-h(8);
	.col(@wht);
	.no-text-dec;	
	font-weight: 200;
	letter-spacing: -2px;
	position: relative;
		span {
		color: @gray-dk;
		transition: color 0.3s;
		}
		&:hover, &:active, &:focus {
			span {
			.col(@wht);	
			}
		}
	}
	
	.logo-tag {
	flex: 1;
	font-family: @lite-font;
	.caps;
	.font-size(4);
	.line-h(8);
	font-weight: 200;
	letter-spacing: -2px;
	position: relative;
	.animated;
	.fadeIn;
	}
	
	button#strip-nav-btn {
	flex: 0 0 80px;
	.w(8);
	.h(8);
	.pad-all(0);
	.no-rounded;
	.no-border;
	.bg-col(@trans);
	
		.btn-bar {
		display: block;
		width: 50%;
		.h(0.1);
		.bg-col(@wht);
		margin: 10px 0px;
		transform: rotate(0deg);
		transform-origin: center;
		transition: transform 0.3s;
		}
		
		&:hover, &:active, &:focus {
			.btn-bar {
			.bg-col(@grey);
			}
		}
		
		&.nav-open {
			.btn-bar {
			transform: rotate(45deg);
			transform-origin: center;
			margin: 0px;
				&:first-child {
				display: none;	
				}
				&:last-child {
				transform: rotate(-45deg);
				}
			}		
		}
	}
}