#banner {
	.bg-col-blk;
	.h(10);
	.pad-top(2);
	.pad-bot(2);
	
	a#logo {
	display: block;
	.h(6);
	.w(13);
	.no-text-dec;
	.indent(-999);
	background-image: url('img/kuu-design-logo.png');
	background-repeat: no-repeat;
	background-position: left center;
	.bg-size(contain);
		&:hover, &:active, &:focus {
		.opacity;
		}
	}
	
	#menu-btn {
	width: 100%;
	.pad-all(0);
	.h(6);
	.no-rounded;
	.no-border ;
	.bg-col(@trans);
		.btn-bar {
		.border-bot(white, 0.1);
		.mag-bot(1);	
		.pad-top(1);
		}
		&:hover, &:active, &:focus {
			.btn-bar {
			border-color: gray;	
			}
		}
	}
}