.strip-nav {
position: fixed;
left: 0px;
top: 80px;
right: 0px;
//height: 400px;
	ul {
	margin-bottom: 0px;	
	}
	li {
	border-bottom: 1px solid @blk;	
	.h(1);
	overflow: hidden;
	transition: height 0.3s;
		&.current-menu-item, &.current-page-ancestor {
		.h(8);	
		}	
	}
	a {
	display: block;
	.h(7.9);	
	position: relative;
	.caps;
	font-family: @lite-font;
	.col(@blk);
	font-weight: 200;
	letter-spacing: -2px;
	.font-size(4);
	.line-h(7.9);
	.pad-left(3);
	.pad-right(3);
	.no-text-dec;
	pointer-events: none;
		&:hover, &:active, &:focus {
		background-color: rgba(51,51,51,0.2);
		}
	}
	
	li.green-grad {
	background: linear-gradient(45deg, @green  0%, @green-dk 100%);	
	}
	li.blue-grad {
	background: linear-gradient(45deg, @blue 0%, @blue-dk 100%);	
	}
	li.purple-grad {
	background: linear-gradient(45deg, @purple 0%,  @purple-dk 100%);
	}
	li.orange-grad {
	background: linear-gradient(45deg, @orange 0%, @orange-dk 100%);	
	}
	li.yellow-grad {
	background: linear-gradient(45deg, Gold 0%, darken(Gold, 20%) 100%);	
	}
	
	&.nav-open {
		li {
		.h(8);	
			&.current-menu-item a {
			pointer-events: none;	
			}	
			
			a {
			pointer-events: auto;	
			}
		}	
		
		
	}
}

.hp-nav {
position: absolute;
left: 0px;
top: 0px;
right: 0px;
bottom: 0px;	
	.nav-item {
	height: 20%;
	border-top: 1px solid @blk;
	transition: height 0.3s;
		button {
		border: none;
		border-radius: 0px;
		background-color: transparent;
		height: 100%;
		padding: 0px 30px 0px 30px;	
		text-align: left;
		font-size: 60px;
		line-height: 0px;
		font-family: @lite-font;
		font-weight: 200;
		text-transform: uppercase;
		overflow: hidden;
		color: @blk;
		position: relative;
		transition: height 0.3s;
			span.state {
			position: absolute;
			right: 30px;
			top: 50%;
			width: 20px;
			height: 20px;
			transform: translateY(-50%);
				span {
				position: absolute;
				top: 50%;
				left: 0px;
				width: 100%;
				height: 1px;
				background-color: @blk;	
				transition: transform 0.3s;
					&:nth-child(1) {
					transform: rotate(90deg);	
					}	
				}	
			}
			&:hover, &:active, &:focus {
			background-color: rgba(51,51,51,0.2);
				span.state {
					span {
						&:nth-child(1) {
						transform: rotate(-60deg);
						left: 5px;
						}
						&:nth-child(2) {
						transform: rotate(60deg);
						left: -5px;
						}	
					}
				}
			}
		}
		.nav-grid {
		height: 0%;
		overflow: hidden;
		background-color: @wht;
		transition: height 0.3s;
			.grid-item {
			width: 100/3%;
			height: 100%;
			float: left;
			padding: 50px 30px;
				a {
					display: block;
					text-decoration: none;
					background-color: white;
					height: 100%;
					background-position: center center;
					background-repeat: no-repeat;
					background-size: cover;
					border: 1px solid @blk;
					overflow: hidden;
					color: @wht;
					text-transform: uppercase;
					position: relative;
					font-weight: 300;
					text-align: center;
					transition: background-size 0.3s;
					
					span.img {
					position: absolute;
					left: 0px;
					right: 0px;
					top: 0px;
					bottom: 0px;
					background-position: center top;
					background-repeat: no-repeat;
					background-size: cover;	
					transition: all 0.3s;
					background-color: @blk;
					}
					
					span.title-wrap {
					position: absolute;
					left: 0px;
					top: 0px;
					width: 100%;
					height: 100%;
					transform: translateY(100%);
					padding: 20px;
					background: linear-gradient( transparent 0%, rgba(51,51,51,0.9) 70%);
					transition: transform 0.3s;		
					display: table;
					
						&:after {
						content: "";
						position: absolute;
						left: 50%;
						top: 35%;
						margin-left: -20px;
						width: 40px;
						height: 1px;
						.bg-col(@wht);	
						z-index: 2;
						}
						
						&:before {
						content: "";
						position: absolute;
						left: 50%;
						top: 35%;
						margin-left: -20px;
						width: 40px;
						height: 1px;
						.bg-col(@wht);
						transform: rotate(90deg);
						transform-origin: center;	
						z-index: 2;
						}
						
						span {
						display: table-cell;
						vertical-align: middle;
						font-size: 25px;
						line-height: 25px;	
						}
					}
					
					&:hover, &:active, &:focus {
					background-size: 110%;
						span.img {
						top: -20px;
						left: -20px;
						right: -20px;
						bottom: -20px;	
						filter: blur(5px);
						}
						span.title-wrap {
						transform: translateY(0%);	
						}
					}
				}	
			}
		}
		&.green-grad {
		background: linear-gradient(45deg, @green  0%, @green-dk 100%);
		}
		&.blue-grad {
		background: linear-gradient(45deg, @blue 0%, @blue-dk 100%);	
		}
		&.purple-grad {
		background: linear-gradient(45deg, @purple 0%,  @purple-dk 100%);
		}
		&.orange-grad {
		background: linear-gradient(45deg, @orange 0%, @orange-dk 100%);	
		}
		&.yellow-grad {
		background: linear-gradient(45deg, Gold 0%, darken(Gold, 20%) 100%);	
		}
	}
	&.nav-open {
		.nav-item {
		height: 5%;	
		}
		.nav-item-open {
		height: 80%;
			.nav-grid {
			height: 75%;	
			border-top: @blk 1px solid;
			}
			&.green-grad {
			background: @green;
			}
			&.purple-grad {
			background: @purple;
			}
			&.blue-grad {
			background: @blue;	
			}
			&.orange-grad {
			background: @orange;
			}
			&.yellow-grad {
			background: Gold;	
			}
			button {
			height: 25%;
				span.state {
					span {
						&:nth-child(1) {
						transform: rotate(0deg);	
						}	
					}
				}
				
				&:hover, &:active, &:focus {
					span.state {
						span {
							&:nth-child(1) {
							transform: rotate(60deg);
							left: 5px;
							}
							&:nth-child(2) {
							transform: rotate(-60deg);
							left: -5px;
							}	
					}
					}
				}	
			}	
		}
	}
}
