.strip-nav {
//height: 400px;
	ul {
	margin-bottom: 0px;	
	}
	li {
	border-bottom: 1px solid @blk;	
	.h(1);
	overflow: hidden;
	transition: height 0.3s;
		&.current-menu-item, &.current-page-ancestor {
		.h(5);	
		}	
	}
	a {
	display: block;
	.h(4.9);	
	position: relative;
	.caps;
	font-family: @lite-font;
	.col(@blk);
	font-weight: 200;
	letter-spacing: -2px;
	.font-size(3);
	.line-h(4.9);
	.pad-left(3);
	.pad-right(3);
	.no-text-dec;
	pointer-events: none;
		&:hover, &:active, &:focus {
		background-color: rgba(51,51,51,0.2);
		}
	}
	
	li.green-grad {
	background: linear-gradient(45deg, @green  0%, @green-dk 100%);	
	}
	li.blue-grad {
	background: linear-gradient(45deg, @blue 0%, @blue-dk 100%);	
	}
	li.purple-grad {
	background: linear-gradient(45deg, @purple 0%,  @purple-dk 100%);
	}
	li.orange-grad {
	background: linear-gradient(45deg, @orange 0%, @orange-dk 100%);	
	}
	li.yellow-grad {
	background: linear-gradient(45deg, Gold 0%, darken(Gold, 20%) 100%);	
	}
	
	&.nav-open {
		li {
		.h(5);	
			&.current-menu-item a {
			pointer-events: none;	
			}	
			
			a {
			pointer-events: auto;	
			}
		}	
		
		
	}
}

.hp-nav {
display: flex;
flex-direction: column;	
height: 100%;
	.nav-item {
	overflow: hidden;
	transition: 0.3s;
	flex: initial;
	height: 20%;
	border-top: 1px solid @blk;
		a {
		display: flex;
		align-items: center;
		height: 100%;	
		padding: 0px 30px 0px 30px;	
		font-size: 60px;
		font-family: @lite-font;
		font-weight: 200;
		text-transform: uppercase;
		overflow: hidden;
		color: @blk;
		position: relative;
		text-decoration: none;
			span {
				
			}
			&:hover, &:active, &:focus {
				
			}
		}
		button {
		border: none;
		border-radius: 0px;
		background-color: transparent;
		height: 100%;
		padding: 0px 30px 0px 30px;	
		text-align: left;
		font-size: 60px;
		line-height: 0px;
		font-family: @lite-font;
		font-weight: 200;
		text-transform: uppercase;
		overflow: hidden;
		color: @blk;
		position: relative;
		transition: 0.3s;
			span.state {
			position: absolute;
			right: 30px;
			top: 50%;
			width: 20px;
			height: 20px;
			transform: translateY(-50%);
				span {
				position: absolute;
				top: 50%;
				left: 0px;
				width: 100%;
				height: 1px;
				background-color: @blk;	
				transition: transform 0.3s;
					&:nth-child(1) {
					transform: rotate(90deg);	
					}	
				}	
			}
			&:hover, &:active, &:focus {
			background-color: rgba(51,51,51,0.2);
				span.state {
					span {
						&:nth-child(1) {
						transform: rotate(-60deg);
						left: 5px;
						}
						&:nth-child(2) {
						transform: rotate(60deg);
						left: -5px;
						}	
					}
				}
			}
		}
		
		&.green-grad {
			a {
			background: linear-gradient(45deg, @green  0%, @green-dk 100%);	
				&:hover, &:active, &:focus {
				background: linear-gradient(45deg, @green  0%, @green 100%);	
				}
			} 
		}
		&.blue-grad {
			a {
			background: linear-gradient(45deg, @blue 0%, @blue-dk 100%);	
				&:hover, &:active, &:focus {
				background: linear-gradient(45deg, @blue 0%, @blue 100%);	
				}
			}
		}
		&.purple-grad {
			a {
			background: linear-gradient(45deg, @purple 0%,  @purple-dk 100%);	
				&:hover, &:active, &:focus {
				background: linear-gradient(45deg, @purple 0%,  @purple 100%);	
				}
			}
		}
		&.orange-grad {
			a {
			background: linear-gradient(45deg, @orange 0%, @orange-dk 100%);	
				&:hover, &:active, &:focus {
				background: linear-gradient(45deg, @orange 0%, @orange 100%);
				}
			}
		}
		&.yellow-grad {
			a {
			background: linear-gradient(45deg, Gold 0%, darken(Gold, 20%) 100%);
				&:hover, &:active, &:focus {
				background: linear-gradient(45deg, Gold 0%, Gold 100%);
				}	
			}	
		}
	}
}
