body.page-template-single-portfolio-page {
	article.page {
	flex-direction: row;
	}	
}

section.portfolio-section {
	display: flex;
	flex: 1;
	overflow: hidden;	
	.bg-col(@wht);
		.portfolio-grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		flex: 1;
		padding: 1% 1%;
		}
		.grid-item {
		height: 50%;
		min-height: 270px;
		max-height: 350px;
		width: 33%;
		padding: 15px;
		position: relative;
			a {
			display: block;
			text-decoration: none;
			background-color: white;
			height: 100%;	
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			border: 1px solid @blk;
			overflow: hidden;
			color: @wht;
			text-transform: uppercase;
			position: relative;
			font-weight: 300;
			text-align: center;
			transition: 0.3s;
					
				span.img {
				position: absolute;
				left: 0px;
				right: 0px;
				top: 0px;
				bottom: 0px;
				background-position: center top;
				background-repeat: no-repeat;
				background-size: cover;	
				transition: all 0.3s;
				background-color: @wht;
				}
					
				span.title-wrap {
					position: absolute;
					left: 0px;
					bottom: 0px;
					width: 100%;
					height: 50%;
					padding: 0% 30%;
					//background: linear-gradient( transparent 0%, rgba(51,51,51,0.9) 70%);
					.trans-bg(@blk; 0.8);
					transition: 0.3s;		
					display: table;
					overflow: visible;
					//border-top: 1px solid @blk;
					
						&:before {
						content: "";
						position: absolute;
						left: 50%;
						top: -20px;
						.w(4);
						.h(4);
						.bg-col(@wht);
						.rounded(100%);	
						transform: translateX(-50%);
						}
						
						span {
						display: table-cell;
						vertical-align: bottom;
						padding-bottom: 15px;
						font-size: 25px;
						line-height: 25px;
							
							&:after {
							content: "";
							position: absolute;
							left: 50%;
							top: 0px;
							margin-left: -10px;
							.w(2);
							.h(0.1);
							.bg-col-blk;	
							z-index: 2;
							}
						
							&:before {
							content: "";
							position: absolute;
							left: 50%;
							top: 0px;
							margin-left: -10px;
							.w(2);
							.h(0.1);
							.bg-col-blk;
							transform: rotate(90deg);
							transform-origin: center;	
							z-index: 2;
							}	
						}
					}
					
				&:hover, &:active, &:focus {
					background-size: 110%;
						span.img {
						top: -20px;
						left: -20px;
						right: -20px;
						bottom: -20px;	
						filter: blur(5px);
						}
						span.title-wrap {
						height: 100%;	
							&:before {
							top: -70px;	
							}
							span {
							vertical-align: middle;
							padding-bottom: 0px;
								&:after, &:before {
								top: -70px;	
								}
							}
						}
					}
				
			}	
		}
}

aside.info-sb {
overflow-y: auto;
flex: 0 0 300px; 
.pad(3;2;2;2);
.bg-col(@wht);
.col(@blk);
	img {
	.border( @blk; 0.1);
	.mag-bot(1.5);	
	}
	h1 {
	.mag-top(0);
	.font-size(3);
	.line-h(2.5);	
	letter-spacing: -1px;
	font-family: @lite-font;
	font-weight: 200;
	.caps;
	}
	
	p {
	.font-size(1.4);
	.line-h(1.8);	
	}
	
	h3 {
	.font-size(2);
	.line-h(2);
	.col(@grey);
	font-weight: 200;	
	}
	
	ul i {
	.col(@grey);
	padding-right: 10px;	
	}
}

.portfolio-imgs {
//overflow-y: hidden;
display: flex;	
flex-direction: row;
flex: 1;
overflow: hidden;
		
	.img-wrap {
	flex: 1;
	border-left: 1px solid black;
	position: relative;
	overflow: hidden;
	.drop-shadow(-2px, 0px, 10px, 0.5);
	transition: 0.3s;
	
		.inner-img-wrap {
		position: absolute;	
		left: -10px;
		top: -10px;
		bottom: -10px;
		zoom: 1.5;
		overflow: hidden;
		filter: blur(5px);
		transition: 0.3s;
		.animated;
		.fadeIn;
		}
		
		.caption {
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: 0px;
		//.bg-col-blk;
		.trans-bg(@blk; 0.7); 
		padding: 10px;
		color: @wht;	
		text-align: center;
		transform: translateY(100%);
		transition: 0.3s;
		}
		
		img {
		display: block;
		width: auto;
		height: 100%;	
		transition: 0.3s;
		border: 1px solid @blk;
		}
		
		.long-img {
		width: 500px;
			img {
			width: 100%;
			height: auto;	
			}		
		}
		
		.short-img {
			img {
			width: auto;	
			height: 100%;
			}	
		}
		
		button {
		position: absolute;
		left: 0px;
		top: 0px;
		bottom: 0px;
		right: 0px;
		.trans-bg(@wht; 0.5);
		border: 1px solid @trans;
		.no-rounded;
		transition: left 0.3s;
		z-index: 2;
			span {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%);
			.w(5);
			.h(0.1);
			.bg-col(@blk);
			transition: 0.3s;
				span {
				position: absolute;
				left: 0;
				top: 0;
				transform: rotate(90deg) translateX(0);
				transform-origin: center;	
				}
			}
		}
		
		&:hover, &:active, &:focus {
		flex: 2;	

			.inner-img-wrap {
			filter: blur(0px);
			zoom: normal;	
			left: -1px;
			top: -1px;
			bottom: -1px;
			}
			
			img {
			height: 120%;
			width: auto;	
			}
			
			.short-img {
				img {
				height: 100%;
				width: auto;	
				}
			}
			
			.long-img {
			//width: 100%;
				img {
				width: 120%;
				height: auto;	
				}
			}
			
			button {
			.bg-col(@trans);
				span {
				display: none;	
				}
			}
		}	
		
		&.img-active {
		flex: 10;	
		max-width: 800px;
			.inner-img-wrap {
			width: 100%;
			overflow-y: auto;	
			padding: 30px;
			filter: none;
			left: 0px;
			top: 0px;
			bottom: 0px;
			zoom: normal;
			overflow-y: auto;
			display: grid;
			align-self: center;
			}
			img {
			width: auto;	
			height: 100%;
			flex: 0;
			margin: auto;	
			//align-self: center;
			}
			
			.long-img {
				img {
				width: 80%;	
				height: auto;
				}
			}
			
			.short-img {
				img {
				width: 80%;	
				height: auto;
				}
			}
			
			button {
			left: -50px;
			top: 50%;
			right: auto;
			bottom: auto;
			transform: translateY(-50%);
			width: 50px;
			height: 50px;
			.border-radius(50%, 50%, 0, 0);
			.opacity(1);
			.bg-col(@wht);
			border-color: @blk;
			.animated;
			.fadeIn;
				span {
				left: 0px;
				.w(3);
				transform: translateX(20%) rotate(45deg);	
					span {
					transform: rotate(90deg);	
					}
				}
				
				&:hover, &:active, &:focus {
				.bg-col-blk;
				.no-border;
					span {
					.bg-col(@wht);	
					}
				}
			}
			
			&:hover, &:active, &:focus {
							
				.caption {
				transform: translateY(0%);	
				}
				
				button {
				left: -2px;
					span {
					display: block;	
					}
				}
			}
			
		}
	}
	
}